*{
    background-color: white;
}

.div{

    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.Calculator{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 50px );
  
}

.input{
    grid-column: span 4;
    text-align: end;
padding: 30px;
font-size: 25px;
color: white;
background-color:black
}
.equal{
    grid-column:span 2 ;
}
.symbole{
    background-color: black;
    color: orange;
}
#equal{
    background-color: black;
    color: orange;  
}




button{
    padding: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
}
.title{
  color:orange;
  font-family: 'Courier New', Courier, monospace;
}
